body {
    font-family: 'Lora', serif;
}
.col-6 p, .col-6 ul {
    font-family: 'Ubuntu', sans-serif;

}
@media(min-width: 768px) {
    #doctor {
        width: 454px;
        height: 555px;
    }
    #patient {
        width: 454px;
        height: 600px;

    }
}
@media(max-width: 576px) {
    .col-6 .display-4 {
        font-size: 1.5rem;
    }
}
@media (max-width: 576px) {
    .jumbotron .display-2 {
        font-size: 50px;
        margin-top: 40px;
    }
}
.navbar {
    background-color: rgb(204, 41, 41);
}
footer i {
    font-size: 30px;
    color: white;
}
.fa-prescription {
    color: rgb(204, 41, 41);
    font-size: 100px;
}
.jumbotron {
    background-image: url("images/photo-1558379466-bed9e35ee7cb.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: -1px -1px 0 #d9534f, 1px -1px 0 	#d9534f, -1px 1px 0 	#d9534f, 1px 1px 0 	#d9534f;
}
footer {
    background-color: rgb(204, 41, 41);
    color: white;
}