@media(min-width: 768px) {
    #doctor {
        width: 454px;
        height: 555px;
    }
    #patient {
        width: 454px;
        height: 600px;

    }
}
@media(max-width: 576px) {
    .col-6 .display-4 {
        font-size: 2rem;
    }
}
i {
    font-size: 30px;
    color: white;
}
.jumbotron {
    background-image: url("images/photo-1558379466-bed9e35ee7cb.jpeg") ;
    background-repeat: no-repeat;
    background-size: cover;
   color: white;
  text-shadow: -1px -1px 0 #d9534f, 1px -1px 0 	#d9534f, -1px 1px 0 	#d9534f, 1px 1px 0 	#d9534f;
}
footer {
    background-color: #d9534f;
    color: white;
}