@media(min-width: 768px) {
    #doctor {
        width: 454px;
        height: 555px;
    }
    #patient {
        width: 454px;
        height: 600px;

    }
}
@media(min-width: 576px) {
    div .display-4 {
        font-size: 3em;
    }
}